{% extends 'core/base.html' %}
{% block title %}Contacte{% endblock %}

{% block headers %}
<h1>Contacte</h1>
<span class="subheading">Assessoria</span>
{% endblock %}
{% block background %}{% load static %} {% static 'core/img/contact-bg.jpg' %}{% endblock %}
{% block content %}
<div class='row project'>
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Per qualsevol dubte contacteu amb mi:</p>
        <br>
        <p><b>Número:</b> +34 692698058</p>
        <p><b>Honoraris:</b> 60€/h (preu base)</p>
    </div>
</div>
{% endblock %}